
ion-toolbar {
    --background: rgb(255, 255, 255);
    padding: 10px; 
    
    --padding-start: 10px; 
    --padding-end: 10px;
    --padding-top:10px;
  
    display: flex; 
    align-items: center; /* Dikey ortalama */
    justify-content: space-between; 
  
    ion-title {
      margin: 0;
      display: flex;
      align-items: center; /* Dikey ortalama */
      
      img {
        height: 6vh;
        width: 6vh;
      }
    }
  
    ion-thumbnail {
      background-color: rgb(102, 18, 18);
      --border-radius: 10px;
  
      justify-content: center;
      display: flex;
      align-items: center;  
      
      ion-icon {
        font-size: 1.5rem;
        color: white;
      }
  
      img {
        width: 90%;
        height: 90%;
        align-items: center;
      }
    }
  
    ion-thumbnail.menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  
  ion-content {
      --background: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
  }



  ion-row.tagline{
    padding-top: 10px;
    padding-left: 1.4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  
    ion-text{
        font-size: 0.8rem;
        font-weight: 600;
        color: black;
      
    }

    .title ion-text{
        font-size: 1.1rem;
        font-weight: 900;
        color: rgb(45, 0, 0);
      
    }
  
  }


  ion-accordion {
    margin-top: 10px;
     margin-bottom: 10px;
      
    }
    
   
    
    ion-label {
      font-weight: bold; 
    }
    
  
   
  ion-accordion-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 0 10px; }
  
  ion-accordion {
    border-radius: 8px; 
    background-color: #e0e0e0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.31);


  
  }
  
  ion-accordion ion-item {
    --background: #fcfbfb; 
    --color: #350202; 
    --border-radius: 8px; 

  }
  
  ion-accordion-content {
    padding: 10px; 
  }
  
  .ion-padding{
   color: rgb(85, 2, 2);
   font-weight: bolder;
   
  }
  
  
  
  
  
  
  