<ion-header >
  <ion-toolbar >
    <ion-title mode="ios">
      <img src="/assets/Tarım_ve_Orman_Bakanlığı_logo.svg.png" alt="">
    </ion-title>

    <ion-buttons slot="start" [routerLink]="['/main']"  >
      <ion-thumbnail  class="menu">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-thumbnail>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <p class="welcome-title">Ürün Kontrol</p>
    <p class="welcome-text">
      Ürün ya da firma adını fotoğraftan analiz ederek kontrol ediniz!
    </p>
  </div>

  <div class="imageContainer">
    <ion-img class="ion-image-container" src="/assets/camera.png" alt="barcode"></ion-img>
  </div>

  <ion-button  (click)="startScanBarcode()" >
    Fotoğraf Çek
  </ion-button>
  
</ion-content>

